.footer {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	font-family: var(--ff-accent);

	&__logo {
		.logo {
			width: 3rem;
			height: auto;
			display: block;
			object-fit: contain;
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		p {
			color: var(--clr-text);

			span {
				color: var(--clr-accent);
				font-weight: var(--fw-bold);
			}
		}
		a {
			font-weight: var(--fw-bold);
			&:hover,
			&:focus-visible {
				color: var(--clr-accent);
			}
		}
	}
}
