.footer {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 0.5rem;

	font-family: var(--ff-accent);

	p {
		color: var(--clr-footer-text);

		span {
			color: var(--clr-accent);
			font-weight: var(--fw-bold);
		}
	}
}

.logo {
	width: 4rem;
	height: auto;
	display: block;
	object-fit: contain;
}
