h2 {
	position: relative;
	margin-bottom: 2rem;
}
p {
	font-size: var(--fs-h3);
	margin-bottom: 1.5rem;
}

.about,
.skills,
.projects,
.contacts {
	&__page {
		width: 100%;

		h2 {
			margin-bottom: 1rem;

			font-size: var(--fs-h2);
			font-weight: var(--fw-bold);
			text-transform: uppercase;

			color: var(--clr-accent);
		}
		p {
			margin-bottom: 2rem;

			font-size: var(--fs-h3);
			font-weight: var(--fw-medium);
			text-align: justify;
		}
	}
}
.about {
	&__cv {
	}
}

.skills {
	&__page {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto;
		gap: 1rem;
	}

	&__hard {
		grid-column: 1 / 4;
		grid-row: 1;

		.inner-container {
			display: flex;
			flex-direction: row;
			gap: 2rem;
		}

		.inner-item {
			width: 100%;
			height: 12rem;

			h3 {
				margin-bottom: 1rem;
			}
		}
	}

	&__soft {
		grid-column: 1;
		grid-row: 2;
	}

	&__principles {
		grid-column: 2;
		grid-row: 2;
	}

	&__languages {
		grid-column: 3;
		grid-row: 2;
	}

	&__soft,
	&__principles,
	&__languages {
		ul {
			list-style-type: square;
			list-style-position: inside;
		}
	}
}

.projects {
	&__page {
	}
}

.contacts {
	&__page {
		display: flex;
		flex-direction: column;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		gap: 3rem;
	}

	&__left {
		flex: 1;
	}

	&__right {
		flex: 1;
	}
}
