.about {
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	gap: 2rem;

	&__intro,
	&__education {
		display: flex;
		flex-direction: column;
	}

	&__intro {
		flex: 1 1 55%;
	}

	&__education {
		flex: 1 1 40%;

		h3 {
			margin: 0;
		}
	}

	&__content {
		flex-direction: column;
		gap: 1.5rem;
	}
}
