.file-container {
	display: flex;
	justify-content: center;
	align-items: center;

	flex-wrap: wrap;

	gap: 0.5rem;
}

.file-container__icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.file-container__name {
	flex: 1;

	font-family: var(--ff-accent);
	font-weight: var(--fw-medium);
	font-size: var(--fs-h3);

	color: var(--clr-accent);
}

.file-container__actions {
	display: flex;
	gap: 1rem;
}

.file-container__button {
	width: 3rem;
	height: 2rem;

	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	color: var(--clr-text);
	background-color: var(--clr-neutral);
	transition: background-color 0.3s ease;

	&:hover {
		background-color: tomato;
	}
}

.file-container__button[download] {
	background-color: var(--clr-accent);
	&:hover {
		background-color: tomato;
	}
}
