$breakpoints: (
	'xxs': 0,
	'xs': 360px,
	'sm': 576px,
	'md': 768px,
	'lg': 1024px,
	'xl': 1280px,
	'xxl': 1536px
);

/// Desktop-first media query mixin
/// @param $size - breakpoint key
/// @param $min-width - true -> mobile-first
///
/// Usage:
/// @include breakpoint('md') { ... }           // max-width: 768px
/// @include breakpoint('md', true) { ... }     // min-width: 768px

@mixin breakpoint($size, $min-width: false) {
	$query: map.get($breakpoints, $size);

	@if not $query {
		@error "⚠️ Breakpoint `#{$size}` not found in $breakpoints map.";
	}

	@if $min-width {
		@media (min-width: $query) {
			@content;
		}
	} @else {
		@media (max-width: $query) {
			@content;
		}
	}
}
