:root {
	.light-theme {
		--app-border: 0.125rem solid var(--clr-text);

		--clr-h: 40;
		--clr-s: 5%;
		--clr-l: 95%;

		--clr-primary: hsl(var(--clr-h) var(--clr-s) var(--clr-l));
		--clr-secondary: hsl(var(--clr-h) 50% 15%);
		--clr-neutral: hsl(var(--clr-h) 10% 60%);
		--clr-accent: hsl(var(--clr-h) 100% 40%);
		--clr-background: var(--clr-primary);
		--clr-text: var(--clr-secondary);

		--clr-switcher-bg: var(--clr-secondary);
		--clr-switcher-bg-hover: var(--clr-neutral);
		--clr-switcher-bg-active: var(--clr-primary);
		--clr-switcher-text: var(--clr-primary);
		--clr-switcher-text-hover: var(--clr-primary);
		--clr-switcher-text-active: var(--clr-accent);
		--switcher-border: var(--app-border);

		--clr-clock-time: var(--clr-accent);
		--clr-clock-date: var(--clr-text);
		--clock-border: var(--app-border);

		--clr-controller-bg: var(--clr);
		--clr-controller-text: var(--clr-text);
		--clr-controller-text-active: var(--clr-accent);
		--controller-border: var(--app-border);
	}

	.dark-theme {
		--app-border: 0.125rem solid var(--clr-text);

		--clr-h: 40;
		--clr-s: 5%;
		--clr-l: 10%;

		--clr-primary: hsl(var(--clr-h) var(--clr-s) var(--clr-l));
		--clr-secondary: hsl(var(--clr-h) 50% 90%);
		--clr-neutral: hsl(var(--clr-h) 10% 60%);
		--clr-accent: hsl(var(--clr-h) 100% 40%);
		--clr-background: var(--clr-primary);
		--clr-text: var(--clr-secondary);

		--clr-switcher-bg: var(--clr-secondary);
		--clr-switcher-bg-hover: var(--clr-neutral);
		--clr-switcher-bg-active: var(--clr-primary);
		--clr-switcher-text: var(--clr-primary);
		--clr-switcher-text-hover: var(--clr-secondary);
		--clr-switcher-text-active: var(--clr-accent);
		--switcher-border: var(--app-border);

		--clr-clock-time: var(--clr-accent);
		--clr-clock-date: var(--clr-text);
		--clock-border: var(--app-border);

		--clr-controller-bg: var(--clr);
		--clr-controller-text: var(--clr-text);
		--clr-controller-text-active: var(--clr-accent);
		--controller-border: var(--app-border);
	}
}
