:root.light-theme {
	--bg-image: url('/src/shared/assets/images/bg-light.webp');
	--app-border: 0.3rem solid var(--clr-neutral);

	--clr-h: 35;
	--clr-s: 5%;
	--clr-l: 95%;

	--clr-primary: hsl(var(--clr-h) var(--clr-s) var(--clr-l));
	--clr-secondary: hsl(var(--clr-h) 80% 10%);
	--clr-neutral: hsl(var(--clr-h) 20% 80%);
	--clr-accent: hsl(var(--clr-h) 100% 40%);
	--clr-window: grey;
	--clr-window-transparent: hsl(var(--clr-h) 100% 95% / 50%);
	--clr-sidebar: grey;
	--clr-sidebar-transparent: hsl(var(--clr-h) 40% 20% / 50%);
	--clr-text: var(--clr-secondary);

	--clr-active: ;
	--clr-hover: ;

	--clr-switcher-bg: var(--clr-neutral);
	--clr-switcher-bg-hover: var(--clr-secondary);
	--clr-switcher-bg-active: var(--clr-primary);
	--clr-switcher-text: var(--clr-secondary);
	--clr-switcher-text-hover: var(--clr-primary);
	--clr-switcher-text-active: var(--clr-accent);
	--switcher-border: var(--app-border);

	--clr-clock-time: var(--clr-accent);
	--clr-clock-time-bg: var(--clr-primary);
	--clr-clock-date: var(--clr-secondary);
	--clr-clock-date-bg: var(--clr-neutral);
	--clock-border: var(--app-border);

	--clr-nav-bg: var(--clr-neutral);
	--clr-nav-bg-hover: var(--clr-secondary);
	--clr-nav-bg-active: var(--clr-primary);
	--clr-nav-text: var(--clr-secondary);
	--clr-nav-text-hover: var(--clr-primary);
	--clr-nav-text-active: var(--clr-accent);

	--clr-footer-text: var(--clr-text);
}

:root.dark-theme {
	--bg-image: url('/src/shared/assets/images/bg-dark.webp');
	--app-border: 0.3rem solid var(--clr-text);

	--clr-h: 190;
	--clr-s: 5%;
	--clr-l: 15%;

	--clr-primary: hsl(var(--clr-h) var(--clr-s) var(--clr-l));
	--clr-secondary: hsl(var(--clr-h) 50% 90%);
	--clr-neutral: hsl(var(--clr-h) 10% 60%);
	--clr-accent: hsl(var(--clr-h) 100% 40%);
	--clr-window: grey;
	--clr-window-transparent: hsl(var(--clr-h) 20% 20% / 50%);
	--clr-sidebar: grey;
	--clr-sidebar-transparent: hsl(var(--clr-h) 20% 20% / 50%);
	--clr-text: var(--clr-secondary);

	--clr-switcher-bg: var(--clr-secondary);
	--clr-switcher-bg-hover: var(--clr-neutral);
	--clr-switcher-bg-active: var(--clr-primary);
	--clr-switcher-text: var(--clr-primary);
	--clr-switcher-text-hover: var(--clr-secondary);
	--clr-switcher-text-active: var(--clr-accent);
	--switcher-border: var(--app-border);

	--clr-clock-time: var(--clr-accent);
	--clr-clock-time-bg: var(--clr-primary);
	--clr-clock-date: var(--clr-primary);
	--clr-clock-date-bg: var(--clr-secondary);
	--clock-border: var(--app-border);

	--clr-nav-bg: var(--clr-secondary);
	--clr-nav-bg-hover: var(--clr-neutral);
	--clr-nav-bg-active: var(--clr-primary);
	--clr-nav-text: var(--clr-primary);
	--clr-nav-text-hover: var(--clr-secondary);
	--clr-nav-text-active: var(--clr-accent);

	--clr-footer-text: var(--clr-secondary);
}
