.contacts {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	position: relative;

	&__text {
		width: 70%;
	}

	&__socials {
		flex: 1;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		.item a {
			color: var(--clr-button-text);

			svg {
				transition:
					background-color 0.3s ease,
					color 0.3s ease;
				background-color: var(--clr-button-bg);
			}

			&:hover,
			&:focus-visible {
				color: var(--clr-button-text-hover);
				svg {
					background-color: var(--clr-button-bg-hover);
				}
			}
		}
	}
}
