.window {
	width: 80rem;
	height: 50rem;
	border: var(--app-border);

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	background-color: var(--clr-window-transparent);
	backdrop-filter: blur(0.5rem);
	color: var(--clr-window-text);

	.content {
		width: 100%;
		height: 100%;
		padding: 5rem;
		min-height: 0;

		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}
}
