.clock {
	// TODO: Переписать стили (если придумаю)
	width: 12rem;
	height: 4rem;

	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: var(--ff-primary);

	&__time,
	&__date {
		width: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__time {
		font-size: var(--fs-clock-time);
		font-weight: var(--fw-medium);
		letter-spacing: 0.05rem;
	}

	&__date {
		font-size: var(--fs-clock-date);
		font-weight: var(--fw-medium);
		text-transform: uppercase;
	}
}
