.header {
	--width: 100%;
	--height: 6rem;

	width: var(--width);
	height: var(--height);
	// border-bottom: var(--app-border);
	border-top: none;

	display: flex;
	justify-content: center;
	align-items: center;

	user-select: none;

	&__content {
		height: 100%;
		width: 96rem;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		flex: 1 1 33%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__clock {
		flex: 1 1 33%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__settings {
		--items-gap: 1rem;
		flex: 1 1 33%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: var(--items-gap);
	}
}

.logo {
	width: 4rem;
	height: auto;
	display: block;
	object-fit: contain;

	cursor: pointer;
}
