.navbar {
	width: 100%;
	position: relative;
	border: var(--border-width) solid var(--border-color);

	display: flex;
	flex-direction: column;

	font-family: var(--ff-accent);
	font-weight: var(--fw-bold);

	background-color: var(--clr-nav-bg);

	&__link {
		display: flex;
		gap: 1rem;

		padding: 0.5rem 0 0.5rem 0.5rem;
		text-transform: uppercase;
		vertical-align: middle;
		color: var(--clr-nav-text);
		transition:
			background-color 0.5s ease,
			color 0.5s ease;
		position: relative;

		&:hover,
		&:focus-visible {
			background-color: var(--clr-nav-bg-hover);
			color: var(--clr-nav-text-hover);
		}

		&--active {
			background-color: var(--clr-nav-bg-active);
			color: var(--clr-nav-text-active);
		}
	}
}
