.theme-switch {
	--width: 4rem;
	--height: 2.2rem;

	width: var(--width);
	height: var(--height);
	position: relative;

	label {
		width: var(--width);
		height: var(--height);
		position: absolute;
		border-radius: 2rem;

		background-color: var(--clr-switch-bg);
		cursor: pointer;

		.icons {
			width: var(--width);
			height: var(--height);

			display: flex;
			justify-content: space-around;
			align-items: center;
		}

		&::before {
			content: '';
			--slider-width: 1.9rem;

			width: var(--slider-width);
			height: var(--slider-width);
			position: absolute;
			top: 7.5%;
			left: 3.5%;
			border-radius: 50%;
			background-color: var(--clr-switch-switcher);
			transition: transform 0.3s ease;
		}
	}

	input[type='checkbox'] {
		display: none;

		&:checked + label {
			&::before {
				transform: translateX(1.8rem);
			}
		}

		&:focus + label {
			box-shadow: 0 0 0 0.1875rem rgb(0 0 0 / 20%);
		}
	}
}

.active {
	color: var(--clr-switch-icon-active);
}

.sun {
	margin-left: 0.1rem;
}

.moon {
	margin-right: 0.2rem;
}
