.sidebar {
	height: 100%;
	width: 20rem;
	padding: 1rem;
	border-right: var(--app-border);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	background-color: var(--clr-sidebar);
	backdrop-filter: blur(0.125rem);
}
