.sidebar {
	height: 100%;
	width: 20rem;
	padding: 1rem;
	border-right: var(--border-width) solid var(--border-color);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	background-color: var(--clr-sidebar-bg);
	user-select: none;
}
