.section {
	width: 100%;
	border: var(--border-width) solid var(--border-color);

	display: flex;
	flex-direction: column;

	background-color: var(--clr-section-bg);
	backdrop-filter: blur(0.125rem);

	&__header,
	&__footer {
		padding: 0.5rem 1rem;
	}

	&__header {
		display: flex;
		background-color: var(--clr-section-header-bg);

		h1,
		h2 {
			margin: 0;
		}
	}

	&__content {
		padding: 0 1rem;
		margin: 1rem 0 1.5rem 0;

		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		p {
			font-size: var(--fs-big-text);
		}
		h3 {
			color: var(--clr-text);
		}

		ul {
			margin-left: 0.5rem;
		}
	}

	&__footer {
		color: var(--clr-section-footer-text);
		background-color: var(--clr-section-footer-bg);

		&-info {
			display: flex;
			flex-direction: column;

			p {
				font-size: var(--fs-small-text);
			}
		}
	}
}
