.skills {
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	gap: 2rem;

	&__soft,
	&__principles,
	&__languages {
		flex: 1 1 30%;
		min-width: 15rem;

		ul {
			display: flex;
			flex-direction: column;
			gap: 0.1rem;

			list-style-type: square;
			list-style-position: inside;
		}
	}

	&__hard {
		flex: 1 1 90%;

		&-content {
			margin-bottom: 1.5rem;
		}

		.inner__container {
			display: flex;
			flex-wrap: wrap;
			gap: 2rem;

			h2 {
				color: var(--clr-text);
				margin-bottom: 1rem;
			}
		}
		.inner__item {
			flex: 1 1 47%;

			p {
				text-align: left;
			}
		}
		.inner__chips {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;
			gap: 0.5rem;
		}
	}
	&__languages {
	}
}
