.language-switcher {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	label {
		&:first-child span {
			border-radius: 1rem 0 0 1rem;
		}
		&:last-child span {
			border-radius: 0 1rem 1rem 0;
		}

		input[type='radio'] {
			width: 0.0625rem;
			height: 0.0625rem;
			position: absolute;
			clip: rect(0 0 0 0);
			clip-path: inset(100%);
			overflow: hidden;
			white-space: nowrap;

			&:checked + span {
				background-color: var(--lang-switcher-bg-active);
				color: var(--lang-switcher-text);
				z-index: 1;
			}
		}

		span {
			width: 3rem;
			height: 2rem;
			position: relative;

			display: flex;
			justify-content: center;
			align-items: center;

			text-align: center;
			font-family: var(--ff-primary);
			color: var(--lang-switcher-text);
			background-color: var(--lang-switcher-bg);
			transition: background-color 0.5s ease;
			cursor: pointer;
		}
	}
}
