html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--ff-primary);
	font-size: var(--default-size);
	font-weight: var(--fw-regular);
	color: var(--clr-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	font-weight: var(--fw-bold);
	font-family: var(--ff-accent);
	color: var(--clr-accent);
}

h1 {
	font-size: var(--fs-h1);
}

h2 {
	font-size: var(--fs-h2);
}

h3 {
	font-size: var(--fs-h3);
}

h4 {
	font-size: var(--fs-h4);
}

h5 {
	font-size: var(--fs-h5);
}

h6 {
	font-size: var(--fs-h6);
}

p {
	font-size: var(--fs-text);
	font-weight: var(--fw-regular);
	text-align: justify;
}

a {
	text-decoration: none;
	color: var(--clr-app-text);
}

// Scrollbar
* {
	@supports (scrollbar-width: thin) and (not selector(::-webkit-scrollbar)) {
		scrollbar-width: thin;
		scrollbar-color: var(--clr-scrollbar-thumb) var(--clr-scrollbar-track);
	}

	&::-webkit-scrollbar {
		width: 0.5rem;

		&-thumb {
			background-color: var(--clr-scrollbar-thumb);
			&:hover {
				background-color: var(--clr-scrollbar-thumb-hover);
			}
		}
		&-track {
			background-color: var(--clr-scrollbar-track);
		}
	}
}

// Selection
// ::selection {
// 	background-color: var(--clr-selection-bg);
// 	color: var(--clr-selection-text);
// }

// Keyboard focus
*:focus-visible,
li:has(a:focus-visible) {
	outline: 0.3rem inset var(--clr-accent);
	z-index: 100;
}
